.traitRow {
    display: flex;
  align-items: center;
  gap: 12px;
  padding: 5px 0;
  justify-content: center;
}

.traitName {
    min-width: 120px;
    font-size: 1.2rem;
    text-align: center;
}

.traitValue {
    font-size: 1.2rem;
}

.progressContainer {
  width: 40%;
  height: 20px;
  background: #262424;
  border-radius: 10px;
  border: 2px solid #2c2e50;
  flex-shrink: 0;
}

.progressFill {
  height: 100%;
  background: linear-gradient(90deg, 
    #120f48 0%,
    #6e3bb0 50%,
    #5A0D7A 100%);
  border-radius: 8px;
  position: relative;
  transition: width 0.5s ease-in-out;
  width: 0%; /* Управляется через JS */
}